@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ul li {
    display: block;   
    font-size: 1.4rem;
    margin-top: 0;
    line-height: 1.8rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    margin-bottom: 0;    
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.course-info h1 {    
    padding-top: 2rem;
    padding-bottom: -2rem;
    margin-bottom: 0;
    font-size: 2rem;
    color: black;    
}

.course-info h2 {    
    padding-top: 0;
    padding-bottom: -2rem;
    margin-top: -2rem;
    margin-bottom: 0;
    font-size: 2rem;
    color: black;    
}

/* SEÇÃO DE APRESENTAÇÃO */

#presentation {
    background-image: url(./imagens/bgimage2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative; 
    z-index: 1;
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #FF4500;
    background-color: transparent;
    border: 2px solid #FF4500;
    font-size: 2em;    
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}

#presentation .cta:hover {
    color: white;
    font-weight: 500;
    background-color: #FF4500;
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;   
    animation: text_reveal_box 1s ease;
    animation-delay: .5s; 
    background-color: #FF4500;
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* SEÇÃO DE PORTIFÓLIO*/

#learning .learning-container, #portfolio .portfolio-container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}


#learing .all-courses, #portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#learning .course-item, #portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;        
}

#learning .course-item:nth-child(1), #portfolio .project-item:nth-child(1) {
    border-top-left-radius: 10px;
}

#learning .course-item:nth-child(1) .course-image, #portfolio .project-item:nth-child(1) .project-image {
    border-top-right-radius: 10px;
}

#learning .course-item:nth-child(3), #portfolio .project-item:nth-child(3) {
    border-bottom-left-radius: 10px;
}

#learning .course-item:nth-child(3) .course-image, #portfolio .project-item:nth-child(3) .project-image {
    border-bottom-right-radius: 10px;
}


#learning .course-info, #portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #fc8a61 0%, #d83a00 100%);
    color: white;    
}

#learning .course-info h1, #portfolio .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#learning .course-info h2, #portfolio .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;   
    margin-bottom: 1rem;
    padding-top: .5rem;
}


#learning .course-image, #portfolio .project-image {
    flex-basis: 50%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

#learning .course-image:after, #portfolio .project-image::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, grey 0%, rgb(36, 35, 35) 100%);
    opacity: 0.7;
}

#learning .course-image img, #portfolio .project-image img {
    transition: 0.5s ease transform;
}

#learning .course-item:hover .course-image img, #portfolio .project-image:hover .project-image img {
    transform: scale(1.1);


}

/* SEÇÃO DE RODAPÉ */

#end-page {
    width: 100%;
    min-height: 30rem;
    background-color: black;
    padding: 2rem;
}

#end-page h2 {
    color:white;
    font-size: 2em;    
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

#end-page .end-group {
    display: inline-flex;
}

#end-page .social-media {
    float: left;
    margin-top: 5rem;
    margin-left: 5rem;
}

#end-page .social-media a {
    display: block;
    color: white; 
    font-size: 2rem;
    padding: 5px 3px;   
    width: 8rem;  
}

#end-page .social-media a img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 8px;
}

#end-page .perfil img {
    width: 15rem;
    height: 15rem;
    border-radius: 100px;
    position: relative;
    margin-top: 3rem;
    margin-left: 45rem;        
}

#end-page .contact {   
    float: right;
    margin-top: 5rem;
    margin-left: 41rem;
    margin-right: 5rem;
    font-size: 2rem;
}

#end-page .contact a img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 8px;
}

#end-page .contact a {
    display: block;
    color: white; 
    font-size: 2rem;
    padding: 5px 3px;   
    width: 8rem; 
}

/* KEYFRAMES */
@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100%{
        color:#FF4500;
        font-weight: 500;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

/* MEDIA QUERY*/

@media only screen and (min-width: 768px) {
    #learning .course-item, #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;         
    }
    #learning .all-courses .course-info, #portfolio .all-projects .project-info {
            height: 100%;
    }
    #learning .all-courses .course-image, #portfolio .all-projects .project-image {
        height: 100%;
    }
    #learning .course-item:nth-child(even), #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}
